@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.about__body {
  margin: 0px auto;
}

.about__header {
  margin-bottom: 65px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}

.about__row {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__column {
  min-width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-family: Lato;
  font-size: 34;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}

.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0px;
  height: 1px;
  left: calc(50% - 50px / 2);
  background: white;
  z-index: 2;
}

.item-about {
  padding: 0px 15px;
  text-align: center;
}

.item-about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5vh solid #2a8118;
}

.item-about__icon > img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-about__title {
  line-height: 25.89px;
  font-size: 14px;
}

.item-about__text {
  line-height: 25.89px;
  font-size: 14px;
  word-wrap: break-word;
}

.footer {
  width: 100%;
  text-align: center;
  max-height: 20%;
  background-color: #106865;
}

.footer__licenses {
  color: #300e2c;
}

.license__link {
  color: #00ffa2;
  text-decoration: none;
}

.header {
  overflow: hidden;
  min-height: 3vh;
  max-height: 5vh;
  width: 100%;
  text-align: center;
  background: #b3aca0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #64ca9b;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.infos__header {
  text-align: center;
  color: brown;
  font-size: 18px;
  line-height: 14px;
}

.infos__data {
  margin: 10px 0;
}

.element__info {
  text-indent: 20px;
  color: #0d505c;
  margin: 10px 0;
  padding: 0px 10px;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 15px;
}

.element__info:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0px;
  height: 1px;
  left: calc(50% - 200px / 2);
  background: white;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */